name: trigger-by-push
on: [push]                  # Trigger on push
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: first-step
        run: |
          echo "Display A Figlet"
          sudo apt-get install figlet
          figlet "Github Actions..!"
      - name: End-Workflow
        run: echo "Execution is completed"